/*body{
    background-color: #252531;
}*/

/*.download-app button{
    font-size: 16px;
    color: white;
    background-color: #725DE5;
    border: 0;
    border-radius: 10px;
    width: 176px;
    height: 47px;
    font-weight: 600;
}*/




